<div class="container">
  <div class="input-block">
    <form #myForm="ngForm" class="client-data" (ngSubmit)="onSubmitForm()">
      <app-input [title]="titles.distance" (onValueChanged)='setDistance($event)'></app-input>
      <p *ngIf="!distance" class="warning">введите расстояние</p>
      <app-input [title]="titles.age" (onValueChanged)='setAge($event)'></app-input>
      <p *ngIf="!age" class="warning">введите возраст пассажира</p>
      <app-input [title]="titles.luggageWeight" (onValueChanged)='setLuggageWeight($event)'></app-input>
      <p *ngIf="!luggageWeight" class="warning">введите вес багажа</p>
      <button type="submit" class="submit-button" [disabled]="!luggageWeight || !age || !distance">Рассчитать</button>
    </form>
  </div>
  <app-output [aeroflotRates]='aeroflotRates' [rzdRates]='rzdRates'></app-output>
</div>
